*{box-sizing: border-box;}
body{margin:0;padding:0;}
.container{display:grid;
grid-template-columns: 1fr 4fr;

}

.sidebar{background-color:rgb(108, 93, 236);
          grid-area:1/1/4/2;
        text-align: center;
        color:antiquewhite;
        
       
    }
.sidebar ul{list-style-type:none;display:flex;
    flex-direction: column;
    margin-left:0;padding:0;
gap:20px;}




.header{display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
padding:5px;}

.controlpanel{background-color: rgb(165, 170, 170);
    padding:10px;
    display:grid;
    gap:5px;
    grid-template-columns:3fr 1fr;
    grid-template-rows: 1fr 1fr;
    }

.projectpanel{
    display:grid;
   grid-template-rows:1fr;}

.projectpanel .content{display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap:20px;}



.projectpanel .card{background-color:white;
    border-left:rgb(205, 219, 0) 4px solid;
   border-radius:5%;
font-size:1em;
}

.int{grid-area:1/2/1/2;}

.announcements{
font-size:0.5em;}
h3{font-size:1.5em;}

.announcements .card{background-color:white;
    border-left:yellow 4px solid;
    padding:10px;border-radius:5%;}

.trending{
    font-size:0.5em;}

.trending .card{background-color:white;
    border-left:yellow 4px solid;
    padding:10px;border-radius:5%;}
